<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.mapper.MusicMapper">

    <select id="listIdsBySinger" resultType="java.lang.Integer">
        SELECT singer_id
        FROM tb_music
        WHERE singer_id = #{id}
    </select>

    <select id="listMusicBySinger" resultMap="MusicDTOMap">
        SELECT a.id,music_name,singer_name,music_Img,music_al,a.music_lyric
        FROM tb_music a
        LEFT JOIN tb_singer sin ON a.singer_id = sin.id
        <where>
            singer_id = #{conditionVO.singerId}
            <if test="conditionVO.keywords != null">
                and music_name like concat('%',#{conditionVO.keywords},'%')
            </if>
        </where>
    </select>

    <select id="listBackMusics" resultMap="MusicDTOMap">
        SELECT a.id,music_name,singer_name,music_Img,music_al,a.music_lyric
        FROM tb_music a
        LEFT JOIN tb_singer sin ON a.singer_id = sin.id
        <where>
            <if test="conditionVO.keywords != null">
                music_name like concat('%',#{conditionVO.keywords},'%')
            </if>
        </where>
    </select>

    <select id="getLyric" resultType="java.lang.String">
        SELECT music_lyric
        FROM tb_music
        WHERE id = #{id}
    </select>
    <select id="getMusicUrl" resultType="java.lang.String">
        SELECT music_url
        FROM tb_music
        WHERE id = #{id}
    </select>
    <select id="getMusicLike" resultMap="MusicDTOMap">
        SELECT a.id,music_name,singer_name,music_Img,music_al
        FROM tb_music a
                 LEFT JOIN tb_singer sin ON a.singer_id = sin.id
        where (a.music_name LIKE concat('%',#{name},'%')) OR (sin.singer_name LIKE concat('%',#{name},'%'))
    </select>

    <resultMap id="MusicDTOMap" type="com.zzh.dto.MusicListDTO">
        <id column="id" property="id"/>
        <result column="music_name" property="name"/>
        <result column="singer_name" property="singer"/>
        <result column="music_Img" property="picUrl"/>
        <result column="music_al" property="al"/>
        <result column="music_lyric" property="lyric"/>
    </resultMap>
</mapper>
